.dd-send {
    background-color: #db0a81;
    border: 2px solid #db0a81;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 1.15rem;
    color: #fff;
    line-height: 1;
    height: auto;
    margin: .5rem auto;
    width: auto;
    min-height: 45px;
    min-width: 200px;
    padding: 13px;
    text-align: center;
    transition: all 250ms ease-in-out;
    text-decoration-line: none;
    font-style: normal;
    font-family: DunkinSansDisplay, DunkinSansBook, "Montserrat", sans-serif;
}

.dd-first {
    max-height: 212px;
    max-width: 212px;
    width: auto;
    height: auto;
}

.card {
    width: 15rem;
    height: 370px;
}