.dd-style {
    color: #333;
    border-style: none;
    outline-style: none;
    font-weight: 900;
    text-decoration: none !important;
    font-style: normal;
    font-size: 1.15rem;
    font-family: sans-serif;
    background-color: white;
}

.dd-style:hover {
    transition: color 250ms ease-in-out;
    color: #db0a81;
    text-decoration-line: underline;
    text-decoration-color: #db0a81;
}