.dd-style {
    color: black;
    border-style: none;
    outline-style: none;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-size: 1rem;
    font-family: DunkinSansBook, "Montserrat", sans-serif;
    background-color: white;
    transition: color 250ms ease-in-out;
}

.dd-style:hover {
    transition: color 250ms ease-in-out;
    color: #db0a81;
    text-decoration-line: underline;
    text-decoration-color: #db0a81;
}