<nav class="navbar navbar-light" style="background-color: #ffffff;">

    <div class="container">

        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/menu" class="dd-style text-muted">MENU</a></button>
        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/locations"
                class="dd-style text-muted">LOCATION</a></button>
        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/dunkin-delivers"
                class="dd-style text-muted">DELIVERY</a></button>
        <a class="navbar-brand" routerLink="">
            <img src="assets/dd-logo.svg" alt="" width="220" height="100">
        </a>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/dd-perks" class="dd-style text-muted">DD
                PERKS</a></button>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/dunkin-cards"
                class="dd-style text-muted">DUNKIN' CARD</a></button>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/shop"
                class="dd-style text-muted">SHOP</a></button>
    </div>
</nav>

<!-- <nav class="navbar navbar-light" style="background-color: #ffff;">
    <div class="container">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu</a>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/Drink.png" class="d-block w-20" alt="...">
                        <img src="assets/Drink.png" class="d-block w-20" alt="...">
                        <img src="assets/Drink.png" class="d-block w-10" alt="...">
                        <img src="assets/Drink.png" class="d-block w-10" alt="...">
                        <img src="assets/Drink.png" class="d-block w-10" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
            </div>
        </li>
    </div>
</nav> -->