<nav class="navbar navbar-light bg-light">
    <div class="container">
        <button type="button" class="btn btn-outline-dark">MENU</button>
        <button type="button" class="btn btn-outline-dark">LOCATION</button>
        <button type="button" class="btn btn-outline-dark">DELIVERY</button>
        <a class="navbar-brand" href="#">
            <img src="assets/dd-logo.svg" alt="" width="220" height="100">
        </a>
        <button type="button" class="btn btn-outline-dark">DD PERKS</button>
        <button type="button" class="btn btn-outline-dark">DUNKIN' CARD</button>
        <button type="button" class="btn btn-outline-dark">SHOP</button>
    </div>
</nav>