<nav class="navbar navbar-light" style="background-color: #ffffff;">

    <div class="container">

        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/menu" class="dd-style text-muted">MENU</a></button>
        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/locations"
                class="dd-style text-muted">LOCATION</a></button>
        <button type="button" class="dd-style btn-outline-none"><a routerLink="en/dunkin-delivers"
                class="dd-style text-muted">DELIVERY</a></button>
        <a class="navbar-brand" routerLink="">
            <img src="assets/dd-logo.svg" alt="" width="220" height="100">
        </a>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/dd-perks" class="dd-style text-muted">DD
                PERKS</a></button>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/dunkin-cards"
                class="dd-style text-muted">DUNKIN' CARD</a></button>
        <button type="button" class="btn btn-outline-none"><a routerLink="en/shop"
                class="dd-style text-muted">SHOP</a></button>
    </div>
</nav>