<nav class="navbar navbar-light bg-light">
    <div class="container">
        <button class=" dd-careers btn-outline-success dropdown-toggle position-relative" type=" button " id=" dropdownMenuButton1 " data-bs-toggle=" dropdown " aria-expanded=" false ">Careers<span
                class="position-absolute top-0 end-25"></span></button>

        <ul class=" dropdown-menu " aria-labelledby=" dropdownMenuButton1 ">
            <li><a class=" dropdown-item " href=" # ">Working at Dunkin'</a></li>
            <li><a class=" dropdown-item " href=" # ">Apply Now</a></li>
            <li><a class=" dropdown-item " href=" # ">Corporate Opportunities</a></li>
        </ul>

        <button class="dd-sign-up btn-outline-success position-relative" type=" submit ">Sign up<span
            class="position-absolute top-0 end-100"></span></button>

        <button class="dd-sign-in btn-outline-primary position-relative" type="submit ">Sign in<span
                class="position-absolute top-0 end-100"></span></button>
    </div>
</nav>