<div class="container">
    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
        <div class="dropdown">
            <button class="btn dd-careers  dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Careers
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Working at Dunkin'</a></li>
                <li><a class="dropdown-item" href="#">Apply Now</a></li>
                <li><a class="dropdown-item" href="#">Corporate Opportunities</a></li>
            </ul>
        </div>
        <button class="btn dd-sign-up" type="button">SIGN UP</button>
        <button class="btn dd-sign-in" type="button" routerLink="en/sign-in">SIGN IN</button>
    </div>
</div>