<!-- <nav class="navbar navbar-light" style="background-color: #ffffff;"> -->
<!-- <div class="container">
        <button class="dd-careers btn-secondary rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Careers
          </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="https://www.dunkindonuts.com/en/careers">Working at Dunkin'</a></li>
            <li><a class="dropdown-item" href="https://www.dunkindonuts.com/en/careers/career-opportunities">Apply Now</a></li>
            <li><a class="dropdown-item" href="http://www.dunkinbrands.com/">Corporate Opportunities</a></li>
        </ul>

        <div class="text-end">
            <button class="dd-sign-up btn-outline-success position-relative" type=" submit">Sign up</button>

            <button class="dd-sign-in btn-outline-primary position-relative" type="submit ">Sign in</button>

        </div>
    </div> -->


<div class="container">
    <header class="d-flex flex-wrap justify-content-end py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

        </a>

        <button class="dd-careers btn-secondary rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Careers
          </button>
        <ul class="dropdown-menu rounded" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="https://www.dunkindonuts.com/en/careers">Working at Dunkin'</a></li>
            <li><a class="dropdown-item" href="https://www.dunkindonuts.com/en/careers/career-opportunities">Apply Now</a></li>
            <li><a class="dropdown-item" href="http://www.dunkinbrands.com/">Corporate Opportunities</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item text-mute"><a href="https://www.dunkindonuts.com/en/dd-perks/registration" class="dd-sign-up text-mute">SIGN UP</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item text-mute"><a href="https://www.dunkindonuts.com/en/sign-in" class="dd-sign-in text-mute">SIGN IN</a></li>
        </ul>
    </header>
</div>
<!-- </nav> -->

<!-- <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>
</div> -->