<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center pb-.5 mb-.5">
            <li class="nav-item"><a href="https://www.dunkindonuts.com/en/terms-of-use" class="dd-links px-2 text-muted">TERMS OF USE</a></li>
            <div class="vr"></div>
            <li class="nav-item"><a href="https://www.dunkindonuts.com/en/privacy-policy" class="dd-links px-2 text-muted">PRIVACY POLICY</a></li>
            <div class="vr"></div>
            <li class="nav-item"><a href="https://www.dunkindonuts.com/en/do-not-sell" class="dd-links px-2 text-muted">DO NOT SELL MY PERSONAL INFO</a></li>
            <div class="vr"></div>
            <li class="nav-item"><a href="https://www.dunkindonuts.com/en/consumer-rights" class="dd-links px-2 text-muted">CA PRIVACY</a></li>
            <div class="vr"></div>
            <li class="nav-item"><a href="https://www.dunkindonuts.com/en/privacy-policy#choices" class="dd-links px-2 text-muted">YOUR AD CHOICES</a></li>
            <div class="vr"></div>
        </ul>
        <P class="text-center text-muted"><a href="https://www.dunkindonuts.com/en/ca-transparency-in-supply-chain" class="dd-links px-2 text-muted">CA TRANSPARENCY IN SUPPLY CHAIN ACT</a></P>
        <p class="dd-copy-rights text-muted">©2022 DD IP Holder LLC</p>
    </footer>
</div>