<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-1 border-bottom">
        <a class="navbar-brand" href="http://www.jetblue.com/">
            <img src="assets/jetblue.png" class="img-fluid rounded mx-auto d-block" alt="" width="auto" height="auto">
        </a>
        <a class="navbar-brand" href="http://www.baskinrobbins.com/">
            <img src="assets/baskinrobbins.png" class="img-fluid rounded mx-auto d-block" alt="" width="auto" height="auto">
        </a>
        <a class="navbar-brand" href="https://www.nhl.com/">
            <img src="assets/NHL_Shield_English_Primary1.png" class="img-fluid rounded mx-auto d-block" alt="" width="auto" height="auto">
        </a>
    </footer>
</div>