<div class="container">
    <footer class="border-bottom">

        <div class="container">
            <div class="row justify-content-start my-4">
                <div class="col-2">

                </div>
                <div class="col-3">
                    <a class="navbar-brand" href="http://www.jetblue.com/">
                        <img src="assets/jetblue.png" class="img-fluid d-block" alt="" width="auto" height="auto">
                    </a>
                </div>
                <div class="col-3">
                    <a class="navbar-brand" href="http://www.baskinrobbins.com/">
                        <img src="assets/baskinrobbins.png" class="img-fluid d-block" alt="" width="auto" height="auto">
                    </a>
                </div>
                <div class="col-3">
                    <a class="navbar-brand" href="https://www.nhl.com/">
                        <img src="assets/NHL_Shield_English_Primary1.png" class="img-fluid d-block" alt="" width="auto" height="auto">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>