<div class="container">
    <footer>

        <div class="container">
            <div class="row">
                <div class="dd-none-links col align-self-start">
                    <div class="p-2 bg-white "></div>
                    QUICK LINKS
                </div>

                <div class="col align-self-end-100">
                </div>

                <div class="dd-none-links col align-self-end-100">
                    <div class="p-2 bg-white "></div>
                    FOLLOW US
                </div>
            </div>

            <div class="row justify-content-start my-4">
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="dd-links mb-2"><a href="http://news.dunkindonuts.com/?_gl=1*17ppybm*_ga*NzI4NTIyNTEuMTY0Mjc5MTM3OA..*_ga_LNT1RQ3VYN*MTY0Mjk2NDU5Mi42LjEuMTY0Mjk2NDYzNy4xNQ.." class="dd-links p-0 text-muted">PRESS ROOM</a></li>
                        <li class="dd-links mb-2"><a href="https://www.dunkindonuts.com/en/about/about-us" class="dd-links p-0 text-muted">ABOUT US</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="dd-links mb-2"><a href="https://www.dunkindonuts.com/en/mobile-app" class="dd-links p-0 text-muted">MOBILE APP</a></li>
                        <li class="dd-links mb-2"><a href="http://www.dunkinfranchising.com/franchisee/en.html" class="dd-links p-0 text-muted">FRANCHISE</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="dd-links mb-2"><a href="http://www.dunkinbrands.com/" class="dd-links p-0 text-muted">CORPORATE</a></li>
                        <li class="dd-links mb-2"><a href="https://www.dunkindonuts.com/en/about/contact-us/faqs" class="dd-links p-0 text-muted">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="dd-links mb-2"><a href="https://www.dunkindonuts.com/en/sustainability" class="dd-links p-0 text-muted">SUSTAINABILITY</a></li>
                        <li class="dd-links mb-2"><a href="https://www.dunkindonuts.com/en/site-map" class="dd-links p-0 text-muted">SITE MAP</a></li>
                    </ul>
                </div>

                <div class="col-2">
                    <ul class="list-unstyled d-flex my-1">
                        <li class="ms-3"><a class="link-dark" href="https://twitter.com/dunkindonuts?lang=en"><svg class="bi" width="29" height="28" fill="#db0a81">
                                    <use xlink:href="assets/bootstrap-icons.svg#twitter"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/DunkinUS/"><svg class="bi" width="29" height="28" fill="#db0a81">
                                    <use xlink:href="assets/bootstrap-icons.svg#facebook"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="https://www.pinterest.com/DunkinDonuts/"><svg class="bi" width="29" height="28" fill="#db0a81">
                                    <use xlink:href="assets/bootstrap-icons.svg#pinterest"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/dunkin/?hl=en"><svg class="bi" width="29" height="28" fill="#db0a81">
                                    <use xlink:href="assets/bootstrap-icons.svg#instagram"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-dark" href="https://www.youtube.com/user/dunkindonuts#"><svg class="bi" width="29" height="28" fill="#db0a81">
                                    <use xlink:href="assets/bootstrap-icons.svg#youtube"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col border-bottom">
            </div>
            <div class="dd-none-links col text-center">
                OUR PARTNERS
            </div>
            <div class="col border-bottom">
            </div>
        </div>
    </footer>
</div>

<!-- <div class="col-2">
            <h5>QUICK LINKS</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="http://news.dunkindonuts.com/?_gl=1*17ppybm*_ga*NzI4NTIyNTEuMTY0Mjc5MTM3OA..*_ga_LNT1RQ3VYN*MTY0Mjk2NDU5Mi42LjEuMTY0Mjk2NDYzNy4xNQ.." class="nav-link p-0 text-muted">PRESS ROOM</a></li>
                <li class="nav-item mb-2"><a href="https://www.dunkindonuts.com/en/about/about-us" class="nav-link p-0 text-muted">ABOUT US</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h5></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://www.dunkindonuts.com/en/mobile-app" class="nav-link p-0 text-muted">MOBILE APP</a></li>
                <li class="nav-item mb-2"><a href="http://www.dunkinfranchising.com/franchisee/en.html" class="nav-link p-0 text-muted">FRANCHISE</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h5></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="http://www.dunkinbrands.com/" class="nav-link p-0 text-muted">CORPORATE</a></li>
                <li class="nav-item mb-2"><a href="https://www.dunkindonuts.com/en/about/contact-us/faqs" class="nav-link p-0 text-muted">CONTACT US</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h5></h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://www.dunkindonuts.com/en/sustainability" class="nav-link p-0 text-muted">SUSTAINABILITY</a></li>
                <li class="nav-item mb-2"><a href="https://www.dunkindonuts.com/en/site-map" class="nav-link p-0 text-muted">SITE MAP</a></li>
            </ul>
        </div>

        <div class="col-3">
            <h5 class="my-1">FOLLOW US</h5>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="https://twitter.com/dunkindonuts?lang=en"><svg class="bi" width="29" height="28" fill="#db0a81">
                            <use xlink:href="assets/bootstrap-icons.svg#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/DunkinUS/"><svg class="bi" width="29" height="28" fill="#db0a81">
                            <use xlink:href="assets/bootstrap-icons.svg#facebook"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.pinterest.com/DunkinDonuts/"><svg class="bi" width="29" height="28" fill="#db0a81">
                            <use xlink:href="assets/bootstrap-icons.svg#pinterest"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/dunkin/?hl=en"><svg class="bi" width="29" height="28" fill="#db0a81">
                            <use xlink:href="assets/bootstrap-icons.svg#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="link-dark" href="https://www.youtube.com/user/dunkindonuts#"><svg class="bi" width="29" height="28" fill="#db0a81">
                            <use xlink:href="assets/bootstrap-icons.svg#youtube"></use>
                        </svg></a></li>
            </ul>
        </div> -->