.dd-font {
    color: white;
    font-family: DunkinSansBook, "Monteserrat", sans-serif;
    font-weight: 500;
}

.dd-here {
    text-decoration-color: white;
    color: white;
    font-weight: 900;
    font-family: DunkinSansBook, "Monteserrat", sans-serif;
}

.dd-card {
    background-color: #db0a81;
}