<div class="container">
    <div class="card bg-white text-white">
        <img src="assets/somthin-fresh-dsktp.png" class="dd-card-img margin-top-2" alt="...">
        <div class="card-img-overlay">
            <!-- <div class="card-body text-center"> -->
            <div class="justify-content-start">
                <div class="text-end">
                    <ul class="nav flex-column text-end-center">
                        <h5 class="dd-first">SOMETHING FRESH</h5>
                        <h5 class="dd-second">IS ALWAYS BREWIN'</h5>
                        <h5 class="dd-second">HERE®</h5>
                    </ul>
                    <p class="card-text "></p>

                    <p class="card-text "><a href="https://dunkin.cashstar.com/store/recipient?locale=en-us"
                            class="dd-button btn-primary ">SEND AN E-GIFT CARD</a></p>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</div>