<!-- <div class="container">
    <div class="row g-0 border-bottom">
        <div class="col-sm-6">
            <div class="card mb-0">
                <div class="card-body">
                    <img src="assets/dd-locations.png" class="card-img-top" width="376" height="484">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-none">
                <div class="card-body text-center">
                    <h5 class="card-title">COME VISIT</h5>
                    <p class="card-text">Find a Dunkin' Near You</p>
                    <p class="card-text">CLOSEST DUNKIN'®</p>
                    <p class="card-text">725 Chestnut Ridge Rd</p>
                    <p class="card-text">Morgantown, WV 26505</p>
                    <p class="card-text">Today: 5:00am - 9:00pm</p>

                    <a href="https://www.dunkindonuts.com/" class="btn">VIEW DETAILS</a>
                    <a href="https://www.dunkindonuts.com/en/locations" class="btn btn-primary">VIEW ALL LOCATIONS</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="card mb-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="assets/dd-locations.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-6">
                <div class="card-body text-center">
                    <h2 class="dd-visit">COME VISIT</h2>
                    <ul class="nav flex-column">
                        <li class="dd-find mb-2">Find a Dunkin' Near You</li>
                        <li class="dd-find mb-2"></li>

                        <li class="dd-closest mb-2">CLOSEST DUNKIN'®</li>
                        <li class="dd-locations mb-2">725 Chestnut Ridge Rd</li>
                        <li class="dd-closest mb-2">Morgantown, WV 26505</li>
                        <li class="dd-closest mb-2">Today: 5:00am - 9:00pm</li>

                    </ul>
                    <!-- <ul class="dd-find">Find a Dunkin' Near You</p> -->

                    <!-- <p class="dd-closest">CLOSEST DUNKIN'®</p> -->
                    <!-- <p class="card-text ">725 Chestnut Ridge Rd</p>
                    <p class="card-text ">Morgantown, WV 26505</p>
                    <p class="card-text ">Today: 5:00am - 9:00pm</p> -->

                    <p class="card-text "><a href="https://www.dunkindonuts.com/ " class="btn ">VIEW DETAILS</a></p>
                    <p class="card-text "><a href="https://www.dunkindonuts.com/en/locations " class="btn btn-primary ">VIEW ALL LOCATIONS</a></p>
                </div>
            </div>
        </div>
    </div>
</div>