<div class="container">
    <div class="card mb-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src={{img}} class="img-fluid rounded-start">
            </div>
            <div class="col-md-6">
                <div class="card-body text-center">
                    <h2 class="dd-visit">{{header}}</h2>
                    <ul class="nav flex-column">
                        <li class="dd-find mb-2">{{find}}</li>
                        <li class="dd-find mb-2"></li>

                        <li class="dd-closest mb-2">{{nearest}}</li>
                        <li class="dd-locations mb-2">{{address}}</li>
                        <li class="dd-state mb-2">{{state}}</li>
                        <li class="dd-phone mb-2">{{hours}}</li>
                        <li class="dd-times mb-2">{{phone}}</li>

                    </ul>

                    <p class="card-text "><a href="https://www.dunkindonuts.com/ " class="dd-details btn-primary ">VIEW DETAILS</a></p>
                    <p class="card-text "><a href="https://www.dunkindonuts.com/en/locations " class="dd-view btn-primary ">VIEW ALL LOCATIONS</a></p>
                </div>
            </div>
        </div>
    </div>
</div>