<div class="container">
    <div class="card border-top-0 text-center">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <img src="assets/donut.svg" class="zoom img-fluid rounded-start">
                    <h5>Earn on Every Run</h5>
                    <p>$1 = 5 points. Every 200 points earns you a free beverage. Plus, get exclusive bonus-point
                        offers.
                    </p>
                </div>
                <div class="col-4">
                    <img src="assets/coffee.svg" class="zoom img-fluid rounded-start">
                    <h5>Pay Any Way</h5>
                    <p>Pay with a debit/credit card, cash or an enrolled Dunkin' Card to unlock rewards and offers.</p>
                </div>
                <div class="col-4">
                    <img src="assets/runner.svg" class="zoom img-fluid rounded-start">
                    <h5>Check Out Faster</h5>
                    <p>Whether you’re stopping in or ordering ahead, load funds to your account to save time on your
                        run.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-3">
                    <a href="#" class="btn dd-sign-up">Sign Up</a>
                </div>
                <div class="col-3">
                    <a href="#" class="btn dd-learn-more">Learn More</a>
                </div>
                <div class="col-3">

                </div>
            </div>
        </div>
    </div>
</div>