<div class="container">
    <div class="card-group text-center">
        <div class="card bg-light text-white">
            <a class="dd-pic" href="https://www.dunkindonuts.com/en/menu">
                <img src={{img}} class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">{{header}}</h5>
                    <p class="dd-food"> {{statement}}</p>
                </div>
            </a>
        </div>
        <div class="card bg-light text-white">
            <a href="https://www.dunkindonuts.com/en/menu/sandwiches-and-more">
                <img src={{img}} class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">{{header}}</h5>
                    <p class="dd-food">{{statement}}</p>
                </div>
            </a>
        </div>
        <div class="card bg-light text-white">
            <a href="https://www.dunkindonuts.com/en/menu/espresso-and-coffee/product-coffee-id1000101">
                <img src={{img}} class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">{{header}}</h5>
                    <p class="dd-food">{{statement}}</p>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="card-group text-center">
        <div class="card bg-light text-white">
            <a class="dd-pic" href="https://www.dunkindonuts.com/en/menu">
                <img src="assets/Coffee.jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">SIPPING IS BELIEVING</h5>
                    <p class="dd-food">HANDCRAFTED EXPRESSO DRINKS ></p>
                </div>
            </a>
        </div>
        <div class="card bg-light text-white">
            <a href="https://www.dunkindonuts.com/en/menu/sandwiches-and-more">
                <img src="assets/All_Day_Sandwiches_768x768.png" class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">FRESHLY MADE</h5>
                    <p class="dd-food">ALL-DAY BREAKFAST SANDWICHES ></p>
                </div>
            </a>
        </div>
        <div class="card bg-light text-white">
            <a href="https://www.dunkindonuts.com/en/menu/espresso-and-coffee/product-coffee-id1000101">
                <img src="assets/Hot Coffee Mobile_640x640.jpg" class="card-img-top" alt="...">
                <div class="card-img-overlay card-body">
                    <h5 class="dd-headers">DUNKIN' CLASSIC</h5>
                    <p class="dd-food">HOT COFFEE</p>
                </div>
            </a>
        </div>
    </div>
</div> -->