<div class="container">
    <div class="card mb-0">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="card-body text-center">
                    <div class="d-grid gap-3 border-0 ">
                        <div class="p-2 bg-white "></div>
                    </div>
                    <h2 class="dd-header">DUNKIN’</h2>
                    <h1 class="dd-second-header">DONE EASY</h1>
                    <p class="dd-para">Find a store, place your order and get on your way with the Dunkin’ App</p>
                    <ul class="list item-center">
                        <li class="list mb-2">Order ahead and pay from your phone</li>
                        <li class="list mb-2">Join DD Perks and earn points towards free beverages</li>
                        <li class="list ">Earn exclusive offers and rewards</li>
                    </ul>
                    <button type="button" class="dd-style btn-outline-none"><a routerLink="en/menu" class="dd-style text-muted px-2"></a><img src="assets/appstore.svg"></button>
                    <button type="button" class="dd-style btn-outline-none"><a routerLink="en/locations" class="dd-style text-muted"></a><img src="assets/googleplay.svg"></button>

                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/mobileapp.png" class="img-fluid rounded-start">
            </div>
        </div>
    </div>
</div>