<DD-topnavbar>Loading...</DD-topnavbar>
<DD-secondnavbar>Loading...</DD-secondnavbar>

<DD-applyhere>Loading...</DD-applyhere>
<DD-menuitems>Loading...</DD-menuitems>
<DD-gift>Loading...</DD-gift>
<div *ngFor="let information of informations">
    <DD-information img={{information.img}} header={{information.header}} find={{information.find}} nearest={{information.nearest}} address={{information.address}} state={{information.state}} hours={{information.hours}} phone={{information.phone}}>
        Loading...
    </DD-information>
</div>

<DD-thirdbottomnavbar>Loading...</DD-thirdbottomnavbar>
<DD-secondbottomnavbar>Loading...</DD-secondbottomnavbar>
<DD-bottomnavbar>Loading...</DD-bottomnavbar>