<DD-topnavbar>Loading...</DD-topnavbar>
<DD-secondnavbar>Loading...</DD-secondnavbar>
<DD-applyhere>Loading...</DD-applyhere>
<DD-menuitems>Loading...</DD-menuitems>
<!-- <div class="container">
    <div *ngFor="let product of menu">
        <DD-menuitems img={{menu.img}}>
            Loading...
        </DD-menuitems>
    </div>
</div> -->
<DD-gift>Loading...</DD-gift>
<DD-information>Loading...</DD-information>
<DD-thirdbottomnavbar>Loading...</DD-thirdbottomnavbar>
<DD-secondbottomnavbar>Loading...</DD-secondbottomnavbar>
<DD-bottomnavbar>Loading...</DD-bottomnavbar>