<div class="container">
    <div class="card mb-0 border-0">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="assets/Dunkin_Delivers_Desktop.svg" class="card-img-top" alt="..." width="auto" height="auto">
            </div>
            <div class="col-md-6">
                <img src="assets/coffee-donut-sandwich-img.png" class="card-img-top" alt="..." width="auto" height="auto">
                <div class="card-body text-center">
                    <h2 class="dd-visit">LET US COME TO YOU!</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card text-center border-0">
        <div class="card-body">
            <h5 class="card-title">Enter your location to find who delivers Dunkin’ in your area</h5>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                    <!-- <span class="input-group-text"> <svg class="bi" width="24" height="24" fill="currentColor">
                            <use xlink:href="assets/bootstrap-icons.svg#search"></use>
                      </svg></span> -->
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-group text-center">
        <div class="card">
            <img src="assets/grubhub.svg" class="card-img-top" alt="..." width="640px" height="auto">
            <div class="card-body">
                <a class="card-text">Order Now</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/ubereats.svg" class="card-img-top" alt="..." width="auto" height="auto">
            <div class="card-body">
                <a class="card-text">Order Now</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/doordash.svg" class="card-img-top" alt="..." width="auto" height="auto">
            <div class="card-body">
                <a class="card-text">Order Now</a>
            </div>
        </div>
    </div>
</div>

<div class="container border-bottom">
    <div class=" dd-card text-center border-0 mx-4 ">
        <div class="p-4 bg-white "></div>
        <div class="dd-font ">Prices may be different than in store. Product offers, discounts and promotions may not be available.
        </div>
    </div>

    <div class="d-grid gap-3 border-0 ">
        <div class="p-2 bg-white "></div>
        <div class="dd-main p-2 bg-white ">FREQUENTLY ASKED QUESTIONS</div>

        <div class="dd-headers p-2 bg-white ">DOES DUNKIN' DELIVERY EXIST?</div>
        <div class="p-2 bg-white ">You asked, we answered. Dunkin' has teamed up with Grubhub®, Uber Eats® and DoorDash® to bring you coffee, donuts, bagels and sandwiches to your door.</div>

        <div class="dd-headers p-2 bg-white ">HOW DO I FIND OUT IF MY LOCAL DUNKIN' RESTAURANT IS PARTICIPATING IN DELIVERY?</div>
        <div class="p-2 bg-white ">To determine which Dunkin' locations in your area are participating in delivery, simply download the Grubhub, Uber Eats or DoorDash App or go to <a class="dd-here " routerLink="en/careers/career-opportunities
    ">Grubhub.com</a>, <a class="dd-here " routerLink="en/careers/career-opportunities ">UberEats.com</a> or <a class="dd-here " routerLink="en/careers/career-opportunities ">DoorDash.com</a> input your delivery address, and you will see a list of participating
            Dunkin' stores in your area.
        </div>

        <div class="dd-headers p-2 bg-white ">CAN I STILL GET MY DUNKIN' FAVORITES WITH DELIVERY?</div>
        <div class="p-2 bg-white ">Yes, most of your Dunkin' favorites are available for delivery.</div>

        <div class="dd-headers p-2 bg-white ">HOW DO I REPORT A PROBLEM WITH MY DUNKIN' DELIVERY ORDER?</div>
        <div class="p-2 bg-white ">It's easy, just contact Grubhub <a class="dd-here " routerLink="en/careers/career-opportunities ">customer service</a>, Uber Eats <a class="dd-here " routerLink="en/careers/career-opportunities
    ">customer service</a> or DoorDash <a class="dd-here " routerLink="en/careers/career-opportunities ">customer
                service</a> directly on their respective websites or apps.</div>

        <div class="dd-headers p-2 bg-white ">OK, SO DUNKIN' DELIVERS. WHY SHOULD I TRY DELIVERY?</div>
        <div class="p-2 bg-white ">Dunkin' Delivery is a game changer. Now you can get all of your favorites, like cold brew, donuts, breakfast sandwiches and more right to your door. Need we say more'?</div>

        <div class="dd-headers p-2 bg-white ">ARE THERE ANY FEES ON DELIVERY?</div>
        <div class="p-2 bg-white ">All fees are shown before checking out on the Grubhub, Uber Eats or DoorDash App or
            <a class="dd-here " routerLink="en/careers/career-opportunities ">Grubhub.com</a>, <a class="dd-here " routerLink="en/careers/career-opportunities ">UberEats.com</a> or <a class="dd-here " routerLink="en/careers/career-opportunities ">DoorDash.com</a>
        </div>

        <div class="dd-headers p-2 bg-white ">CAN I EARN DD PERKS POINTS ON DELIVERY, OR REDEEM MY DD PERKS FREE BEVERAGE REWARDS VIA DELIVERY?</div>
        <div class="p-2 bg-white ">No, not at this time.</div>

    </div>

</div>