.dd-headers {
    text-align: left;
    color: #db0a81;
    margin-bottom: 10px;
    font-family: DunkinSansDisplay, DunkinSansBook, "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.15rem;
    line-height: 1;
}

.dd-main {
    text-align: left;
    font-size: 35px;
    font-family: DunkinSansDisplay !important;
    line-height: 1.3;
    margin: 0 0 1rem 0;
    color: #333;
    font-style: normal;
    font-weight: 400;
}