<DD-applyhere>Loading...</DD-applyhere>
<DD-perks-card>Loading...</DD-perks-card>
<DD-mobileapp>Loading...</DD-mobileapp>
<DD-fresh-card>Loading...</DD-fresh-card>
<DD-menuitems>Loading...</DD-menuitems>
<!-- <div *ngFor="let menu of menus">
    <DD-menuitems img={{menu.img}} header={{menu.header}} statement={{menu.statement}}>
        Loading...
    </DD-menuitems>
</div> -->
<DD-gift>Loading...</DD-gift>

<div *ngFor="let information of informations">
    <DD-information img={{information.img}} header={{information.header}} find={{information.find}}
        nearest={{information.nearest}} address={{information.address}} state={{information.state}}
        hours={{information.hours}} phone={{information.phone}}>
        Loading...
    </DD-information>
</div>