<div class="container">
    <div class="px-1 pt-1 my-1 text-center">
        <h1 class="display-4 fw-bold">FIND YOUR DUNKIN'</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Get directions and details on the Dunkin’® nearest to you!
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          FILTERS<img src="">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 border-none">
        <div class="col">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="border-bottom">
                        <ul class="nav flex-column">
                            <li class="list-group mb-2">725 Chestnut Ridge Rd</li>
                            <li class="list-group mb-2">Morgantown, WV 26505</li>

                            <li class="list-group mb-2">Distance: 0.00 miles</li>
                            <li class="list-group mb-2">Weekdays: 5:00am - 9:00pm</li>
                            <li class="list-group mb-2">Weekends: 6:00am - 9:00pm</li>
                            <li class="list-group mb-2">Phone: 304-241-1386</li>
                        </ul>
                        <p class="card-text "><a href="https://www.dunkindonuts.com/ " class="dd-details btn-primary ">VIEW DETAILS</a></p>

                        <div>Features
                            <div class="row justify-content-start">
                                <div class="col-4">
                                    <ul class="nav flex-column">
                                        <li class="dd-links mb-2">
                                            <p href="" class="dd-links p-0 text-muted"><img src="assets/OTG.svg"> On-the-Go Mobile Ordering</p>
                                        </li>
                                        <li class="dd-links mb-2">
                                            <p class="dd-links p-0 text-muted"><img src="assets/DT.svg"> Drive Thru</p>
                                        </li>
                                        <li class="dd-links mb-2">
                                            <p class="dd-links p-0 text-muted"><img src="assets/wifi.svg"> Free WiFi</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="nav flex-column">
                                        <li class="dd-links mb-1">
                                            <p href="" class="dd-links p-0 text-muted"><img src="assets/cards.svg"> Accepts Dunkin’ Cards</p>
                                        </li>
                                        <li class="dd-links mb-1">
                                            <p href="" class="dd-links p-0 text-muted"><img src="assets/k-pods.svg"> K-Cup® Pods</p>
                                        </li>
                                        <li class="dd-links mb-1">
                                            <p href="" class="dd-links p-0 text-muted"><img src="assets/dine-in.svg"> Dine-In</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="border-bottom">
                            <ul class="nav flex-column">
                                <li class="list-group mb-2">725 Chestnut Ridge Rd</li>
                                <li class="list-group mb-2">Morgantown, WV 26505</li>

                                <li class="list-group mb-2">Distance: 0.00 miles</li>
                                <li class="list-group mb-2">Weekdays: 5:00am - 9:00pm</li>
                                <li class="list-group mb-2">Weekends: 6:00am - 9:00pm</li>
                                <li class="list-group mb-2">Phone: 304-241-1386</li>
                            </ul>
                            <p class="card-text "><a href="https://www.dunkindonuts.com/ " class="dd-details btn-primary ">VIEW DETAILS</a></p>

                            <div>Features
                                <div class="row justify-content-start">
                                    <div class="col-6">
                                        <ul class="nav flex-column">
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/OTG.svg"> On-the-Go Mobile Ordering</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p class="dd-links p-0 text-muted"><img src="assets/DT.svg"> Drive Thru</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p class="dd-links p-0 text-muted"><img src="assets/wifi.svg"> Free WiFi</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="nav flex-column">
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/cards.svg"> Accepts Dunkin’ Cards</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/k-pods.svg"> K-Cup® Pods</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/dine-in.svg"> Dine-In</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-bottom">
                            <ul class="nav flex-column">
                                <li class="list-group mb-2">725 Chestnut Ridge Rd</li>
                                <li class="list-group mb-2">Morgantown, WV 26505</li>

                                <li class="list-group mb-2">Distance: 0.00 miles</li>
                                <li class="list-group mb-2">Weekdays: 5:00am - 9:00pm</li>
                                <li class="list-group mb-2">Weekends: 6:00am - 9:00pm</li>
                                <li class="list-group mb-2">Phone: 304-241-1386</li>
                            </ul>
                            <p class="card-text "><a href="https://www.dunkindonuts.com/ " class="dd-details btn-primary ">VIEW DETAILS</a></p>

                            <div>Features
                                <div class="row justify-content-start">
                                    <div class="col-6">
                                        <ul class="nav flex-column">
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/OTG.svg"> On-the-Go Mobile Ordering</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p class="dd-links p-0 text-muted"><img src="assets/DT.svg"> Drive Thru</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p class="dd-links p-0 text-muted"><img src="assets/wifi.svg"> Free WiFi</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="nav flex-column">
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/cards.svg"> Accepts Dunkin’ Cards</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/k-pods.svg"> K-Cup® Pods</p>
                                            </li>
                                            <li class="dd-links mb-2">
                                                <p href="" class="dd-links p-0 text-muted"><img src="assets/dine-in.svg"> Dine-In</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>