<div class="container">
    <div class="card border-bottom-0 text-center">
        <img src="assets/donut-coffee.png" class="card-img" alt="...">
        <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
            <h5 class="dd-bring">SIGN IN</h5>
        </div>
    </div>

    <body class="text-center mt-4">

        <main class="form-signin">
            <form>
                <h1 class="text-start fw-normal">Email*</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                </div>
                <h1 class="text-start fw-normal">Password*</h1>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                </div>

                <div>
                    <a class="dd-password" routerLink="">Forgot Your Password?</a>
                </div>

                <p class="mt-2 text-muted">*Required</p>

                <button class="mb-3 btn btn dd-sign-in" type="submit">Sign in</button>
            </form>
        </main>
    </body>

    <div class="row align-items-end">
        <div class="col border-bottom">
        </div>
        <div class="dd-none-links col text-center">
            OR
        </div>
        <div class="col border-bottom">
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn dd-sign-up" type="button"><svg class="bi" width="20" height="20" fill="black">
                <use xlink:href="assets/bootstrap-icons.svg#apple"></use>
            </svg> SIGN IN WITH APPLE</button>
    </div>

    <div class="text-center mt-4">
        <div>Need a Dunkin’ Account? <a class="" routerLink="">Sign Up</a></div>
    </div>

</div>