<div class="container">
    <div class="card border-bottom-0 text-center">
        <img src="assets/donut-coffee.png" class="card-img" alt="...">
        <div class="card-img-overlay position-absolute top-50 start-50 translate-middle">
            <h5 class="dd-bring">SIGN IN</h5>
        </div>
    </div>

    <body class="text-center">

        <main class="form-signin">
            <form>
                <h1 class="text-start fw-normal">Email*</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <h1 class="text-start fw-normal">Password*</h1>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
            </form>
        </main>





    </body>
</div>